<include file="./Addons/Weizk/View/default/Template/wap_header_mui.html" />

<body>
<div class="eva-header">
    <div class="mui-row">
        <div class="mui-col-sm-6 mui-col-xs-6">
            <li class="mui-table-view-cell ">
                <a href="evaluation.html">测评</a>
            </li>
        </div>
        <div class="mui-col-sm-6 mui-col-xs-6">
            <li class="mui-table-view-cell current">
                <a href="news.html">资讯</a>
            </li>
        </div>
    </div>
</div>
<div class="mui-content">
    <!--图片轮播-->
    <div id="slider" class="mui-slider" >
        <div class="mui-slider-group mui-slider-loop">
            <div class="mui-slider-item mui-slider-item-duplicate">
                <a href="#">
                    <img src="{:ADDON_PUBLIC_PATH}/images/banner1.jpg">
                </a>
            </div>
            <div class="mui-slider-item">
                <a href="#">
                    <img src="{:ADDON_PUBLIC_PATH}/images/banner1.jpg">
                </a>
            </div>
            <div class="mui-slider-item">
                <a href="#">
                    <img src="{:ADDON_PUBLIC_PATH}/images/banner2.png">
                </a>
            </div>
            <div class="mui-slider-item">
                <a href="#">
                    <img src="{:ADDON_PUBLIC_PATH}/images/banner3.png">
                </a>
            </div>
            <div class="mui-slider-item">
                <a href="#">
                    <img src="{:ADDON_PUBLIC_PATH}/images/banner4.jpg">
                </a>
            </div>
            <div class="mui-slider-item mui-slider-item-duplicate">
                <a href="#">
                    <img src="{:ADDON_PUBLIC_PATH}/images/banner4.jpg">
                </a>
            </div>
        </div>
        <div class="mui-slider-indicator">
            <div class="mui-indicator mui-active"></div>
            <div class="mui-indicator"></div>
            <div class="mui-indicator"></div>
            <div class="mui-indicator"></div>
        </div>
    </div>
    <!--资讯列表-->
    <div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
        <div class="mui-scroll">
            <a href="" class="mui-control-item mui-active">全部</a>
            <a href="" class="mui-control-item"> 微信小程序 </a>
            <a href="" class="mui-control-item"> 行业解读</a>
            <a href="" class="mui-control-item"> 轻应用H5</a>
            <a href="" class="mui-control-item"> 开发教程 </a>
            <a href="" class="mui-control-item"> 微信资讯 </a>
        </div>
    </div>
    <ul class="news">
        <volist name="lists" id="vo" empty="$empty" >
            <li>
                <a href="{$vo.url}">
                    <div class="news-pic"><img src="{$vo.coverurl}"></div>
                    <div class="news-text">
                        <h2>{$vo.title}</h2>
                        <div class="date">
                            <label class="time">{$vo.cTime}</label>
                            <label class="view">{$vo.view_count}</label>
                        </div>
                    </div>
                </a>
            </li>
        </volist>
    </ul>
    <div class="h60"></div>
    <div class="eva-adv">
        <a href=""><img src="images/adv.png"/></a>
        <div class="close"><img src="images/close-white.png"/></div>
    </div>
</div>
<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/js/jquery-1.10.1.min.js" ></script>
<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/js/app.js" ></script>
</body>
</html>
