<include file="Public/mobile_head"/>	
<link href="{:ADDON_PUBLIC_PATH}/card.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">

<body>
	<div class="container">
             <div class="m_title">
                      <h1 class="m_money">返现余额</h1>
                      <span class="m_number">¥&nbsp;0</span>
             </div>
            <div class="m_body">
                     <img style="vertical-align: -8px;"src="/shop/Addons/Card/View/default/Public/yue_b.jpg" > 
                     <a class="m_give">
                     付款
                     </a>
           </div>
  	       <div class="m_group">
  	                  <a>交易明细</a>
 	                  <a>消费记录</a>
                      <a>返现记录</a>
          </div>
    
          <div class="m_xijie">
                 <table width="50" border="0" bordercolor="black" cellspacing="0" class="m_table">
                 <tr>                
                 <td>时间</td>
                 <td>金额</td>
                 <td>余额</td>
                 </tr>  
                  <!-- <tr class="m_have">                
                   <td>2015-10-10</td>
                   <td>55</td>
                   <td>45</td>
                 </tr>      -->             
                </table>
          <p class="m_table1">            
              您还没有任何返现信息                 
          </p>
         </div>

   </div>
    <script type="text/javascript">
    </script>
</body>
</html>
