<include file="Public/mobile_head"/>	
<link href="{:ADDON_PUBLIC_PATH}/card.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">

<body>
	<div class="container">
           <div class="m_head">
                 <p>会员卡密码</p>
           </div>
               <a class="m_link">
               <span class="m_h3">设置支付密码</span>
               <span class="m_h1">确保会员卡支付安全</span>
               <em></em>
               </a>
         <div class="m_line"></div>
               <a class="m_link">  
               <span class="m_h3">设置保护密码</span>
               <span class="m_h1">保护会员隐私</span>
               <em></em>
               </a>

    </div>
    <script type="text/javascript">
    </script>
</body>
</html>
