<include file="Public/mobile_head"/>	
<link href="{:ADDON_PUBLIC_PATH}/card.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">

<body>
	<div class="container">
            <div class="m_group">
  	                   <a>余额转赠</a>
 	                   <a>转赠明细</a>
            </div>
            <div class="m_title">
                  <h1 class="m_money">当前余额</h1>
                  <span class="m_number">¥&nbsp;0</span>
            </div>
    <div class="m_all">
           <div class="m_line"></div>
   
                  <span class="m_input">
                              <label >转赠金额</label>
                  </span>
                 <span class="m_input">
                        <input type="number" name="usrtel" style="border:0px;" placeholder="请输入转赠金额">
                 </span>
 
          <div class="m_line"></div>
                 <span class="m_input">
                       <label >领取密码</label>
                 </span>
                 <span class="m_input">
                          <input type="password" name="usrtel" style="border:0px;" placeholder="请输入领取密码">
                 </span>
         <div class="m_line"></div>
                <span class="m_input">
                         <label >确认密码</label>
                 </span>
               <span class="m_input">
                         <input type="password" name="usrtel" style="border:0px;" placeholder="请再次输入领取密码">
               </span>
          <div class="m_line"></div>
     </div>
 
          <div class="m_body m_weibu">
                        <img style="vertical-align: -6px;"src="/shop/Addons/Card/View/default/Public/yue_a.jpg" > 
                           <a class="m_give">
                       确认转赠
                           </a>
         </div>
  

     
    
  </div>
    <script type="text/javascript">
    </script>
</body>
</html>
