<include file="Public/mobile_head"/>	
<link href="{:ADDON_PUBLIC_PATH}/card.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<body>
  <div class="container">  
                  <div class="tab_nav">
                              <a>优惠券</a>
                              <a>代金券</a>
                                          
                   </div>
                   
                   <div class="stamp_line">
                          <hr color="#bdd9dc">
                   </div>
           
        <div class="stamp stamp1">
                 
                 <div class="par">
                        
                        <span class="stamp_a">0</span>
                        <sub>元</sub>
                        <span class="stamp_b">
                              <img src="/shop/Addons/Card/View/default/Public/stamp_gift.png" width="51" height="33">
                              <br>
                              剩余968张
                        </span>
                        <p>★订单满0元可使用</p>
                        <p class="stamp_sign">有效期至2015-4-17</p>
                 </div>
                     <span class="stamp_yuan">
                         
                     </span>
                     <span class="stamp_yuan1">
                         
                     </span>
                  
                  <div class="copy">
                       <a>领取</a>
                 </div>
             
    </div>
   
           
            
            
         
 </div>
<script type="text/javascript">
</script>
</body>
</html>
