<include file="Public/mobile_head"/>	
<link href="{:ADDON_PUBLIC_PATH}/card.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<style type='text/css'>
.addrimg{
	width:100px;
	position: absolute;
    right: 10px;
    top: 14px;
	width: 60px;
    height: 40px;

    background-size: 40px 40px;
    border-left: 1px solid #ccc;
}
.title{
	position: absolute;
	left:130px;
	overflow:hidden;
}
.addra{
	position: absolute;
	left:130px;
	top:30px;
}
.daohan{
	height: 46px;
    border-bottom: 1px solid rgba(119, 113, 116, 0.47);
    display: block;
    color: #333;
    position: relative;
    text-align: center;   
    color: #888;
	margin-bottom: 15px;
}
.tel{
	width: 50%;
    float: left;
    height: 100%;
    text-align: center;
    border-right: 1px solid #ccc;
    line-height: 40px;
}
</style>
<body>
	<div class="container body">
    	<div class="common_header">
        	<a class="back" href="javascript:;" onClick="history.back()"></a>
            <span>适用门店</span>
        </div>
    	<ul class="v_nav">
    	<notempty name='coupon_shop'>
    		<volist name='coupon_shop' id='vo'>
    		<li class="item single_address" style="padding-bottom: 50px;border-top: 1px solid  rgba(119, 113, 116, 0.47);">
    			<span calss='addrimg'><img src="{$vo.img|get_cover_url}" width='100px' height='80px' /></span>
                <span class="title">
                {$vo.name}</span>
                <span class="addra">
                <notempty name="vo.gps">
                    <a href="http://apis.map.qq.com/tools/poimarker?marker=coord:{$vo.gps};title:{$vo.name};addr:{$vo.address}&referer=myapp&key=OB4BZ-D4W3U-B7VVO-4PJWW-6TKDJ-WPB77">地址：{$vo.address}</a>
               				
                <else />
                    <a href="http://api.map.baidu.com/geocoder?address={$vo.address}&output=html&src={$vo.name}|{$vo.address}">地址：{$vo.address}</a>
                </notempty>
                 </span>
                <span style="position: absolute;left:130px;top:60px;">{$vo.juli}</span>
               
               
<!--                 <em></em> -->
            </li>
           <div  class='daohan'><div class='tel'> <a href="tel:{$vo.phone}"><img src="{:ADDON_PUBLIC_PATH}/tel.png" width="30px" height="30px" style="vertical-align:middle;"/> 电话</a></div>
            <div style="line-height: 40px;"> 
            	 
            	<notempty name="vo.gps">
                    <a href="http://apis.map.qq.com/tools/poimarker?marker=coord:{$vo.gps};title:{$vo.name};addr:{$vo.address}&referer=myapp&key=OB4BZ-D4W3U-B7VVO-4PJWW-6TKDJ-WPB77"><img src="{:ADDON_PUBLIC_PATH}/navi.png" width="30px" height="30px" style="vertical-align:middle;"/> 导航</a>
                <else />
                    <a href="http://api.map.baidu.com/geocoder?address={$vo.address}&output=html&src={$vo.name}|{$vo.address}"><img src="{:ADDON_PUBLIC_PATH}/navi.png" width="30px" height="30px" style="vertical-align:middle;"/> 导航</a>
                </notempty>
            
            </div>
            </div> 
            </li>
    		</volist>
    	</notempty>
            </ul>
            
        </div>
        <p class="copyright">{$system.copyright}</p>
    </div>
    <include file="Public/card_footer"/>	
    <script type="text/javascript">
    var is_list={$is_list};
    	if(is_list==0){
    	$.Dialog.loading('获取您的地理位置');
    	      wx.ready(function () {
    	    	  wx.getLocation({
    	    		  success: function (res) {
    	    			  var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
    	    			  var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
    	    			  //var speed = res.speed; // 速度，以米/每秒计
    	    			  //var accuracy = res.accuracy; // 位置精度
    	    			  $.Dialog.close();
   	     			     window.location.href="{:U('storeList')}&is_list=1&latitude="+latitude+"&longitude="+longitude;
    	    		  }
    	    	  });
    	      });
    }
   
    </script>
</body>
</html>
