<!-- 用户绑定页面 -->
<include file="Public/mobile_head"/>
<link href="{:ADDON_PUBLIC_PATH}/bindStudent.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<link href="{:ADDON_PUBLIC_PATH}/weui.min.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<style>
    .uicon{border-radius:60px;width: 120px;}
</style>
<body style="background-color: #e4e4e4">
<title>微校：学生中心</title>

<div id="container" class="container body user_bind_page">
    <div style="background-color: #fbfbfb ;padding-top: 20px">
        <div style="margin:0px auto 5px; text-align:center" class="uicon">
            <img src="{:ADDON_PUBLIC_PATH}/A1.jpg" width="120px"/>
        </div>
        <div class="title" style="text-align: center;margin-bottom: 20px;padding-bottom: 5px">{$oid}，微校学生中心</div>
    </div>

    <if condition="($care_count gt 0)">
        <div style="background-color: #fbfbfb ;margin-top: 20px;padding-bottom: 10px;margin-bottom: 20px">
            <p style="margin-left: 10px;padding-top: 5px">您已经绑定了<span>{$care_count}</span>位学生</p>
            <a href ="{:U('addon/Weixiao/Wap/infor', array('publicid'=>$public_id))}" class="weui-btn weui-btn_primary" style="margin: 10px;height: 40px">查看已绑定学生信息</a>
        </div>
    </if>
    <!-- 表单 -->
    <form class="bind_form form-horizontal" method="post" action="{:U('addon/Weixiao/Wap/bind', array('publicid'=>$public_id))}" id="form"  style="background-color: #fbfbfb;padding-bottom: 20px">
        <!-- 基础文档模型 -->
        <div class="tab-pane in      tab1" id="tab1">
            <div class="form-item cf">
                <div class="controls">
                    <input type="number" placeholder="输入绑定学号" value="" name="studentno" id="studentno" class="text input-large">
                </div>
            </div>
            <div class="form-item cf">
                <div class="controls">
                    <input type="text" placeholder="输入学生姓名" value="" name="name" id="name" class="text input-large">
                </div>
            </div>
            <div class="form-item cf">
                <div class="controls">
                    <input type="number" placeholder="输入手机号码" value="" name="mobile" id="mobile" class="text input-large">
                </div>
            </div>

            <!--<div class="form-item cf">
              <div class="controls tb">
                <input type="text" placeholder="输入收到的验证码" value="" name="code" class="text input-large" style="width:50%; margin-right:10px;">
                <a href="javascript:void(0);" class="btn flex_1" id="send_btn" onClick="sendmsg()">获取短信验证码</a>

              </div>
            </div>-->
            <div id="top-alert" class="fixed alert alert-error" style="display: none;">
                <button class="close fixed" style="margin-top: 4px;">×</button>
                <div class="alert-content"></div>
            </div>
            <div class="form-item cf">
                <button class="home_btn submit-btn " id="submit" type="button" target-form="form-horizontal">提交</button>
            </div>
            <!--<p class="bind_tips">手机号码仅用于验证身份，不会被公开，请放心输入。</p>-->
        </div>
    </form>

</div>
<!-- 底部导航 -->
{$footer_html}
<!-- 统计代码 -->
<notempty name="config.code">
    <p class="hide bdtongji">
        {$config.code}
    </p>
    <else />
    <p class="hide bdtongji">
        {$tongji_code}
    </p>
</notempty>
<block name="script">
    <script type="text/javascript">
        var reSentTime = 60;
        function sendmsg(){
            if($('#send_btn').hasClass('gray_btn'))return;
            if($('input[name="mobile"]').size()>0 && $('input[name="mobile"]').val().length!=11){
                $.Dialog.fail("请填写正确的手机号码!");
                return;
            }

            $('#send_btn').addClass('gray_btn');
            reSentTime = 60;
            show_time();

            var mobile = $('#mobile').val();
            var url = "{:U('Home/Index/sendMsg')}";

            $.post(url,{mobile:mobile},function(){
                //TODO
            });
        }
        function show_time(){
            if(reSentTime > 0){
                --reSentTime;
                $('#send_btn').html(reSentTime+'秒后可重发');
                setTimeout("show_time()", 1000); //设置1000毫秒以后执行一次本函数
            }else{
                reSentTime = 60;
                $('#send_btn').html('重新发送验证码');
                $('#send_btn').removeClass('gray_btn');
            }
        };


        $('#submit').click(function(){
            // $('#form').submit();
            //判断
            if($('input[name="mobile"]').size()>0 && $('input[name="mobile"]').val().length!=11){
                $.Dialog.fail("请填写正确的手机号码!");
                return;
            }


            $.Dialog.loading();
            $.ajax({
                url:'{$post_url}',
                type:'post',
                data:$('#form').serializeArray(),
                dataType:'json',
                success:function(json){
                    console.log(json);
                    //$.Dialog.close();
                    if(json.status==1){

                        $.Dialog.success(json.info);
                        //alert('2');
                    }else{
                        $.Dialog.fail(json.info);
                        //alert('3');
                    }
                    if(json.url!=""){
                        setTimeout(function(){
                            window.location.href=json.url;
                        },2000);
                    }
                },
                error:function(){
                    $.Dialog.close();
                    //$.Dialog.fail();
                }
            });
        });

    </script>
    <include file="Public/mobile_foot"/>
</body>
</html>