<extend name="Base/common" />
<block name="body">

    <!-- 标签页导航 -->
    <div class="span9 page_message">
        <section id="contents">
            <ul class="tab-nav nav">
                <li class=""><a href="{:U('lists')}">学生列表</a></li>
                <li class=""><a href="{:U('edit', array('id'=>$student['id']))}">编辑学生资料</a></li>
                <li class="current"><a href="{:U('comment', array('id'=>$student['id']))}">学生评语录入<b class="arrow fa fa-sort"></b></a></li>
                <li class=""><a href="{:U('import', array('id'=>$student['id']))}">学生资料导入</a></li>
                <!--<li class=""><a href="{:U('comments_import', array('id'=>$student['id']))}">学生评语导入</a></li>-->
            </ul>
            <!--<include file="Addons/_nav" />-->
            <div class="tab-content">
                <!-- 表单 -->
                <php>$post_url || $post_url = U('comment?id='.$student['id'] . '&model='.$model['id'], $get_param);</php>
                <form id="form" action="{$post_url}" method="post" class="form-horizontal form-center">
                    <div class="form-item cf">
                        <label class="item-label"><span class="need_flag">*</span>该生所选课程<span class="check-tips"></span></label>
                        <div class="controls">
                            <select name="course">
                                <volist name="couresSelected" id="vo">
                                    <option>{$vo.id}. {$vo.name}</option>
                                </volist>
                            </select>
                        </div>
                    </div>
                    <div class="form-item cf">
                        <label class="item-label">*</span>学号：<span class="check-tips">{$student['studentno']}</span></label>
                        <div class="controls">
                            <input type="hidden" class="text" name="studentno" value="{$student['studentno']}">
                        </div>
                    </div>
                    <div class="form-item cf">
                        <label class="item-label">*</span>姓名：<span>{$student['name']}</span></label>
                        <div class="controls">
                            <input type="hidden" class="text input-large" name="name" value="{$student['name']}">
                        </div>
                    </div>
                    <div class="form-item cf">
                        <label class="item-label">*</span>性别：
                            <span class="check-tips">
                                <if condition="$student['gender'] eq 2">
                                    女生
                                <else />
                                    男生
                                </if>
                            </span>
                        </label>
                        <div class="controls">
                            <!--<select name="gender" value="$data['gender']">
                                <if condition="$data['gender'] eq 2">
                                    <option selected value = "2">女生</option>
                                    <else />
                                    <option value = "2">女生</option>
                                </if>
                                <if condition="$data['gender'] eq 1">
                                    <option selected value = "1">男生</option>
                                    <else />
                                    <option value = "1">男生</option>
                                </if>
                            </select>-->
                        </div>
                    </div>

                    <div class="form-item cf">
                        <label class="item-label">*</span>来自学校：<span>{$student['school']}</span></label>
                        <div class="controls">
                            <!--<input type="text" class="text input-large" name="school" value="{$data['school']}">-->
                        </div>
                    </div>
                    <div class="form-item cf">
                        <label class="item-label">*</span>年级：<span class="check-tips">{$student['grade']}</span></label>
                        <div class="controls">
                            <!--<select name="grade" value="$data['grade']">
                                <if condition="$data['grade'] eq 1">
                                    <option selected value = "1">一年级</option>
                                    <else />
                                    <option value = "1">一年级</option>
                                </if>
                                <if condition="$data['grade'] eq 2">
                                    <option selected value = "2">二年级</option>
                                    <else />
                                    <option value = "2">二年级</option>
                                </if>
                                <if condition="$data['grade'] eq 3">
                                    <option selected value = "3">三年级</option>
                                    <else />
                                    <option value = "3">三年级</option>
                                </if>
                                <if condition="$data['grade'] eq 4">
                                    <option selected value = "4">四年级</option>
                                    <else />
                                    <option value = "4">四年级</option>
                                </if>
                                <if condition="$data['grade'] eq 5">
                                    <option selected value = "5">五年级</option>
                                    <else />
                                    <option value = "5">五年级</option>
                                </if>
                                <if condition="$data['grade'] eq 6">
                                    <option selected value = "6">六年级</option>
                                    <else />
                                    <option value = "6">六年级</option>
                                </if>
                                <if condition="$data['grade'] eq 7">
                                    <option selected value = "7">初中一年级</option>
                                    <else />
                                    <option value = "7">初中一年级</option>
                                </if>
                                <if condition="$data['grade'] eq 8">
                                    <option selected value = "8">初中二年级</option>
                                    <else />
                                    <option value = "8">初中二年级</option>
                                </if>
                                <if condition="$data['grade'] eq 9">
                                    <option selected value = "9">初中三年级</option>
                                    <else />
                                    <option value = "9">初中三年级</option>
                                </if>
                                <if condition="$data['grade'] eq 10">
                                    <option selected value = "10">高中一年级</option>
                                    <else />
                                    <option value = "10">高中一年级</option>
                                </if>
                                <if condition="$data['grade'] eq 11">
                                    <option selected value = "11">高中二年级</option>
                                    <else />
                                    <option value = "11">高中二年级</option>
                                </if>
                                <if condition="$data['grade'] eq 12">
                                    <option selected value = "12">高中三年级</option>
                                    <else />
                                    <option value = "12">高中三年级</option>
                                </if>
                            </select>-->
                        </div>
                    </div>
                    <!--<div class="form-item cf">
                        <label class="item-label">*</span>联系电话<span class="check-tips"></span></label>
                        <div class="controls">
                            <input type="text" class="text input-large" name="phone" value="{$data['phone']}">
                        </div>
                    </div>-->
                    <div class="form-item cf">
                        <label class="item-label">*</span>该生该课程评语：
                            <span class="check-tips">100字以内，一名学生上某一课程可添加多次评语</span></label>
                        <div class="controls">
                            <label class="textarea input-large">
                                <textarea name="comment_txt">{$comment_txt}</textarea>
                            </label>
                        </div>
                    </div>


                    <div class="form-item form_bh" style="text-align:center">
                        <notempty name="student.id"><input type="hidden" name="id" value="{$student.id}"></notempty>
                        <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">{$submit_name|default='添 加'}</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</block>
<block name="script">
    <link href="__STATIC__/datetimepicker/css/datetimepicker.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
    <php>if(C('COLOR_STYLE')=='blue_color') echo '
        <link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
        ';</php>
    <link href="__STATIC__/datetimepicker/css/dropdown.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js?v={:SITE_VERSION}" charset="UTF-8"></script>
    <script type="text/javascript">
        $(function(){
            var UploadFileExts = "{$UploadFileExts}";
            initUploadImg();
            if(UploadFileExts!=""){
                initUploadFile(function(){},UploadFileExts);
            }else{
                initUploadFile();
            }

            $('.time').datetimepicker({
                format: 'yyyy-mm-dd hh:ii',
                language:"zh-CN",
                minView:0,
                autoclose:true
            });
            $('.date').datetimepicker({
                format: 'yyyy-mm-dd',
                language:"zh-CN",
                minView:2,
                autoclose:true
            });
            showTab();

            $('.toggle-data').each(function(){
                var data = $(this).attr('toggle-data');
                if(data=='') return true;

                if($(this).is(":selected") || $(this).is(":checked")){
                    change_event(this)
                }
            });

            $('.toggle-data').bind("click",function(){ change_event(this) });
            $('select').change(function(){
                $('.toggle-data').each(function(){
                    var data = $(this).attr('toggle-data');
                    if(data=='') return true;

                    if($(this).is(":selected") || $(this).is(":checked")){
                        change_event(this)
                    }
                });
            });
        });
    </script>
</block>