<include file="../Public/header" />
<style type="text/css">
  body{background-color: #f1f1f1;}
</style>
<div id="content">
  <div id="weiba" data-title="论坛" class="panel" data-selected="true"  data-menu="msgmenu" style="padding:0;">
    <header>
        <div id="header-buttons">
            <a href="javascript:history.go(-1);">
                <div id="back" class="header-menu-link" data-back="false">
                </div>
            </a>
            <include file="_search" />
        </div>
        
    </header>
    <div class="mainWeiba">
    	<php>if(!$keyword){</php>
      	 	<p class="empty_list">请输入关键词进行搜索!</p>
        <php>}</php>
     	<php>if($keyword){</php>
            <!-- <div class="search-result">
                 <span class="f9">搜索结果 : 找到 "<span class="post-tag">{$keyword}</span>" 相关用户 {$searchResult.count} 个</span>
            </div> -->
        	<php>if($searchResult['data']){</php>
                <div class="weiba_postlist" style="position:relative">
              		<ul id="listData">
               			<volist name="searchResult['data']" id="vo">
                			<li model-node="following_list_item">
                              <div class="relation-left"> <a href="{$vo.space_url}"> <img title="{$vo.uname}" src="{$vo.avatar_small}" /> </a></div>
                    
                                <div class="relation-right">
                                  <dl class="profile-info-t">
                                    <dt><a class="follow_uname" href="{$vo['space_url']}">{$vo.uname}</a><!-- &nbsp;&nbsp;{$user_info[$vo['fid']]['auth_icon']}--></dt>
                                    <dd class="from"><if condition="$vo.sex eq '1'">{:L('PUBLIC_MALE')}<else/>{:L('PUBLIC_FEMALE')}</if></dd>
                                    <!-- <dd>在学年级：
                                      {$vo.grade}
                                    </dd>
                                    <dd class="profile">个人简介：<if condition="$vo.intro eq ''">这家伙很懒，什么都没有留下！<else/>{$vo.intro}</if></dd> -->
                                  </dl>
                                </div>
                             </li>
             			</volist>
                  	</ul>
                  <php>if($searchResult['totalPages']>1):</php>
                 	 <a id="load_page_btn" href="javascript:;" data-key="p" data-page="{$searchResult['totalPages']}" data-url="{:U('w3g/Search/person',array('t'=>1,'a'=>'public','k'=>$keyword,'scity'=>$scity,'sch'=>$sch,'qdr'=>$qdr))}">下一页</a>
                 	 <div class="no_more_data">没有更多数据了</div>	
                  	 <div class="page_loading">正在加载中...</div>
                  <php>endif;</php>
             </div>
             <php>}else{</php>
                <div class="note"><div class="note_empty"></div><p>对不起，没有找到匹配结果。</p></div>
             <php>}</php>
             
         <php>}</php>
    </div>
    
  </div>
</div>
<script type="text/javascript">
loadPageByMore(null,function(data){
	//高亮搜索词
	//$('.follow_uname').highlight( '{$keyword}' );
});
</script>
<include file="../Public/footer" />