<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="{:ADDON_PUBLIC_PATH}/school/css/slick.css"/>
    <link rel="stylesheet" type="text/css" href="{:ADDON_PUBLIC_PATH}/school/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="{:ADDON_PUBLIC_PATH}/school/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="{:ADDON_PUBLIC_PATH}/school/css/iconfont/iconfont.css"/>
    <title>个人信息</title>