<footer class="m-bar mui-bar-footer">
    <nav class="m-bar mui-bar-tab footer">
        <ul class="footer-page clearfix">
            <li class="mui-tab-item active">
                <a href="index.html">
                    <i class="iconfont icon-index"></i>
                    <p>首页</p>
                </a>
            </li>
            <li class="mui-tab-item">
                <a href="{:U('/addon/Weizk/EvalPrj/index/2')}">
                    <i class="iconfont icon-computer"></i>
                    <p>自助评估</p>
                </a>
            </li>
            <li class="mui-tab-item">
                <a href="ask.html">
                    <i class="iconfont icon-ask"></i>
                    <p>咨询帮助</p>
                </a>
            </li>
            <li class="mui-tab-item">
                <a href="{:U('/addon/Weizk/ClientWap/user_center/publicid/'.$public_id)}">
                    <i class="iconfont icon-person1"></i>
                    <p>个人中心</p>
                </a>
            </li>
        </ul>
    </nav>
</footer>

<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/js/jquery-1.10.1.min.js" ></script>
<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/js/app.js" ></script>
</body>
</html>