<div class="footer">
    <ul class="footer-page clearfix">
        <li class="page-item">
            <a href="index.html" class="active">
                <i class="iconfont icon-index"></i>
                <p>首页</p>
            </a>
        </li>
        <li class="page-item">
            <a href="entrance.html">
                <i class="iconfont icon-computer"></i>
                <p>自助入学</p>
            </a>
        </li>
        <li class="page-item">
            <a href="ask.html">
                <i class="iconfont icon-ask"></i>
                <p>咨询帮助</p>
            </a>
        </li>
        <li class="page-item active">
            <a href="user-center.html">
                <i class="iconfont icon-person1"></i>
                <p>个人中心</p>
            </a>
        </li>
    </ul>
</div>

<script src="{:ADDON_PUBLIC_PATH}/school/js/jquery.min.js"></script>
<script src="{:ADDON_PUBLIC_PATH}/school/js/slick.min.js"></script>
<script src="{:ADDON_PUBLIC_PATH}/school/js/basic.js"></script>
<script src="{:ADDON_PUBLIC_PATH}/school/js/rem.js"></script>
</body>
</html>