<include file="./Addons/Weizk/View/default/Template/wap_header_mui.html"/>
<body>
<div class="mui-content">
	<img src="{$info.cover|get_cover_url}" width="100%"/>
	<div >
		<h6 class="m_t"><div style="word-wrap:break-word;">{$info.title}</div></h6>
		<div class="lead_content" style="word-wrap:break-word;">{$info.intro}</div>
	</div>
   
   	<div >
    <a href="{:U('survey','id='.$info[id])}" class="lead_btn">立即参与</a>
	</div>

    <!-- <p class="copyright">{$system_copy_right}</p> -->
</div>

<script type="text/javascript">
	$.WeiPHP.initWxShare({
		title:"{$info.title}",
		imgUrl:"{$info.cover|get_cover_url}",
		desc:"{$info.intro}",
		link:window.location.href
	})

</script>
<!-- 底部导航 -->
<include file="./Addons/Weizk/View/default/Template/wap_footer_mui.html"/>