<include file="Public/mobile_head"/>
<link href="{:ADDON_PUBLIC_PATH}/Coupon.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<body>
<div class="container body" style="position:relative; background:#eee;">
	<div class="common_header">
        	<a class="back" href="javascript:;" onClick="history.back()"></a>
            <span>适用门店</span>
        </div>
 <notempty name="shop_list">
     <ul class="v_nav">
        
        <volist name="shop_list" id="vo">
            <li class="item single_address">
                <span class="title">{$vo.name}</span><br/>
                <notempty name="vo.gps">
                    <a href="http://api.map.baidu.com/marker?location={$vo.gps}&title={$vo.name}&content={$vo.address}&output=html">{$vo.address}</a>
                <else />
                    <a href="http://api.map.baidu.com/geocoder?address={$vo.address}&output=html&src={$vo.name}|{$vo.address}">{$vo.address}</a>
                </notempty>
                <a href="tel:{$vo.phone}"><em>&nbsp;</em></a>
            </li>
        </volist>
        
     </ul>
  </notempty>
  <p class="copyright">{$system_copy_right}{$tongji_code}</p>
</div>
</body>
</html>