<include file="./Addons/Weizk/View/default/Template/wap_header_mui.html"/>
<body>

<div class="mui-content">
	<div class="mui-slider">
		<img src="{:ADDON_PUBLIC_PATH}/school/img/self-report.png">
	</div>	
	
	<form class="mui-input-group" action="{:U('addon/Weizk/ClientWap/set_candiSchool', array('publicid'=>$public_id,'clientid'=>$client_id))}" id="form" method="post">
		<notempty name="candi_schools">
			<volist name='candi_schools' id='vo'>
	        <div class="mui-input-row">
	            <label>{$vo['title']}</label>
	            <input type="text" class="mui-input-clear"  name="{$vo['name']}" id="{$vo['name']}" placeholder="学校名称" value="{$vo['text']}">
	            <input type="text" class="mui-input-clear"  name="{$vo['name']}Id" id="{$vo['name']}Id" type="hidden" value="{$vo['school_id']}">
	        </div>
			</volist>
		</notempty>
		<input type="hidden" value='{$public_id}' name='publicId' id = 'publicId'>
		<input type="hidden" value='{$client_id}' name='clientId' id = 'clientId'>
        <div class="mui-button-row">
            <button type="submit" class="mui-btn mui-btn-primary" >确 认</button>
        </div> 
        
	</form>
</div>

<input type="hidden" value="{:U('addon/Weizk/HschoolWap/picker_list')}" id = 'ajaxPostUrl'>
<script>
	function update_picker(data,picker,tg_button){
        //级联示例
        picker.setData(data);
        
		tg_button[0].addEventListener('tap', function(event) {
			picker.show(function(items) {
				console.log(items);
				tg_button[0].value = (items[0]['text']);
				tg_button[1].value = (items[0]['value']);
				//返回 false 可以阻止选择框的关闭
				//return false;
			});
		}, false);        
	}
    function get_picker_data(picker,tg_button){
		var publicId = $("#publicId").val();
		var userId = $("#userId").val();
		var ajaxUrl = $("#ajaxPostUrl").val();
		mui.ajax(ajaxUrl,{
			data: {
				public_id: publicId,
				uid: userId,
			},
			dataType:'json',
			type:'post',
			timeout:10000,
			headers:{'Content-Type':'application/json'},
			success:function(data){
				var pickerData = JSON.parse(data);
				update_picker(pickerData,picker,tg_button);
			},
			error:function(xhr,type,errorThrown){
				console.log(type);
			}
		});
    }	
    (function($, doc) {
        $.init();
        $.ready(function() {
            var hschoolPicker = new $.PopPicker();
            var favHschoolPicker = [doc.getElementById('candi_school0'),doc.getElementById('candi_school0Id')];
			get_picker_data(hschoolPicker,favHschoolPicker);
			var candiHschoolPicker = [doc.getElementById('candi_school1'),doc.getElementById('candi_school1Id')];
			get_picker_data(hschoolPicker,candiHschoolPicker);
			candiHschoolPicker = [doc.getElementById('candi_school2'),doc.getElementById('candi_school2Id')];
			get_picker_data(hschoolPicker,candiHschoolPicker);
			candiHschoolPicker = [doc.getElementById('candi_school3'),doc.getElementById('candi_school3Id')];
			get_picker_data(hschoolPicker,candiHschoolPicker);
			candiHschoolPicker = [doc.getElementById('candi_school4'),doc.getElementById('candi_school4Id')];
			get_picker_data(hschoolPicker,candiHschoolPicker);
				
        });
    })(mui, document);
</script>
<!-- 底部导航 -->
<include file="./Addons/Weizk/View/default/Template/wap_footer_mui.html"/>