<!-- 用户绑定页面 -->
<include file="./Addons/Weizk/View/default/Template/wap_header_mui.html"/>

<div class="mui-content">
	<div class="mui-content-padded">
		<h5>绑定学生信息录入</h5>
	</div>
    
    <br />
    <form  class="mui-input-group" action="{:U('addon/Weizk/ClientWap/updateInfor', array('publicid'=>$public_id))}" id="form"  style="background-color: #fbfbfb;padding-bottom: 20px">
        <!-- 基础文档模型 -->
        <div class="mui-input-row">
            <label>用户名</label>
            <input type="text" class="mui-input-clear" name="name" id="name" placeholder="请输入学生姓名">
        </div>

        <div class="mui-input-row">
            <label>电话号码</label>
            <input type="text" class="mui-input-clear" name="mobile" id="mobile" placeholder="电话号码">
        </div>
        <button id="showHschoolPicker" class="mui-btn mui-btn-block" type="button">当前所在学校</button>
        <div id="hschoolResult" class="ui-alert"></div>
        <div class="mui-input-row">
            <input type="text" class="mui-input-clear" name="school" id="hschool" >
        </div>
        <div class="mui-input-row">
            <label>所在班级类型</label>
            <input type="text" class="mui-input-clear"  name="classtype" id="classtype" placeholder="重点/实验/普通">
        </div>
        <div class="mui-input-row">
            <label>毕业年份</label>
            <input type="text" class="mui-input-clear"  name="grand_year" id="grand_year" placeholder="2019">
        </div>
        <div class="mui-input-row">
            <label>最心仪的学校</label>
            <input type="text" class="mui-input-clear"  name="grand_year" id="grand_year" >
        </div>
        <div class="mui-input-row">
            <label>候选学校一</label>
            <input type="text" class="mui-input-clear"  name="grand_year" id="grand_year" >
        </div>
        <div class="mui-input-row">
            <label>候选学校二</label>
            <input type="text" class="mui-input-clear"  name="grand_year" id="grand_year" >
        </div>
        <div class="mui-input-row">
            <label>候选学校三</label>
            <input type="text" class="mui-input-clear"  name="grand_year" id="grand_year" >
        </div>
        <div class="mui-input-row">
            <label>候选学校四</label>
            <input type="text" class="mui-input-clear"  name="grand_year" id="grand_year" >
        </div>
        <div class="mui-button-row">
            <button type="submit" class="mui-btn mui-btn-negative mui-btn-block mui-btn-outlined" >确认</button>
        </div>
    </form>
</div>
<input type="hidden" value='{$public_id}' id = 'publicId'>
<input type="hidden" value='0' id="userId">
<input type="hidden" value='0' id = 'query_value'>
<input type="hidden" value="{:U('addon/Weizk/HschoolWap/picker_list')}" id = 'ajaxPostUrl'>
<script>
	function update_picker(data,picker,tg_button,result){
        //级联示例
        picker.setData(data);
        
		tg_button.addEventListener('tap', function(event) {
			picker.show(function(items) {
				result.innerText = JSON.stringify(items[0]);
				//返回 false 可以阻止选择框的关闭
				//return false;
			});
		}, false);        
	}
    function get_picker_data(picker,tg_button,result){
		var publicId = $("#publicId").val();
		var userId = $("#userId").val();
		var ajaxUrl = $("#ajaxPostUrl").val();
		mui.ajax(ajaxUrl,{
			data: {
				public_id: publicId,
				uid: userId,
			},
			dataType:'json',
			type:'post',
			timeout:10000,
			headers:{'Content-Type':'application/json'},
			success:function(data){
				var pickerData = JSON.parse(data);
				update_picker(pickerData,picker,tg_button,result);
			},
			error:function(xhr,type,errorThrown){
				console.log(type);
			}
		});
    }
    (function($, doc) {
        $.init();
        $.ready(function() {
            //-----------------------------------------
            var hschoolPicker = new $.PopPicker();
            var hschoolResult = doc.getElementById('hschoolResult');
            var showHschoolPickerButton = doc.getElementById('showHschoolPicker');
			get_picker_data(hschoolPicker,showHschoolPickerButton,hschoolResult);
			
        });
    })(mui, document);
</script>
<!-- 底部导航 -->
<include file="./Addons/Weizk/View/default/Template/wap_footer_mui.html"/>

